<ion-content [fullscreen]="true" class="container">
  <!-- CONTENEDOR PRINCIPAL DE TODO EL PERFIL -->
  <div class="wraper-container">
    <!-- TITULO DE LA SECCION -->
    <ion-text>
      <h2>Información Personal</h2>
    </ion-text>

    <!-- FOTO DE PERFIL -->
    <ion-img class="img-personal" src="../../assets/foto.jpeg" alt="Foto personal Ana Contreras">
    </ion-img>

    <!-- DATOS PERSONALES, CARRERA Y TECNOLOGIAS -->
    <ion-text class="textos">
      <p class="nombre">Ana Contreras</p>
      <p class="descripcion">Estudiante del tercer Trayecto</p>
      <p class="descripcion">Ingeniería en Informática</p>
      <p class="descripcion">Universidad Nacional Experimental de las Telecomunicaciones e Informática</p>

      <p class="profesion">Desarrolladora de Software, Front-end, Back-end y UX/UI</p>

      <div class="tecnologias">
        <p>ReactJS</p>
        <p>PHP</p>
        <p>Laravel</p>
        <p>PostgreSQL</p>
      </div>
    </ion-text>

    <!-- CARD CON EL CORREO ELECTRONICO -->
    <ion-card class="datos-contacto">
      <ion-card-content>
        <ion-text>
          <div class="wraper-info">
            <ion-icon aria-hidden="true" name="mail-outline"></ion-icon>
            <div class="container-info">
              <p>Correo Electrónico</p>
              <p>anacontreras2508@gmail.com</p>
            </div>
          </div>
        </ion-text>
      </ion-card-content>
    </ion-card>

    <!-- CARD CON LA UBICACION -->
    <ion-card class="datos-contacto">
      <ion-card-content>
        <ion-text>
          <div class="wraper-info">
            <ion-icon aria-hidden="true" name="location-outline"></ion-icon>
            <div class="container-info">
              <p>Ubicación</p>
              <p>Caracas, Venezuela</p>
            </div>
          </div>
        </ion-text>
      </ion-card-content>
    </ion-card>

  </div>
</ion-content>